<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- applecationContext.xml 파일에 설정한 객체들 -->
<!-- boardDAODBCP (BoardDAODBCP) -> @Autowired JdbcTemplate -->
<!-- boardService (BoardServiceImpl, BoardService) -> @Autowired BoardDAODBCP -->
<!-- userDAODBCP (UserDAODBCP) -> @Autowired JdbcTemplate -->
<!-- userService (UserServiceImpl, UserService) -> @Autowired UserDAODBCP -->
<!-- dataSource (BasicDataSource) -->
<!-- jdbcTemplate (JdbcTemplate) -> dataSource -->


<context:component-scan base-package="com.springbook.biz"/>

<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> -->
<!-- 	<property name="driverClassName" value="org.mariadb.jdbc.Driver"/> -->
<!-- 	<property name="url" value="jdbc:mariadb://localhost:3306/samp"/> -->
<!-- 	<property name="username" value="root"/> -->
<!-- 	<property name="password" value="1111"/> -->
<!-- </bean> -->

<!-- classpath는 비즈니스레이어단의 src/main/resources까지임-->
<context:property-placeholder location="classpath:config/database.properties"/>
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.driver}" />
    <property name="url" value="${jdbc.url}" />
    <property name="username" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
</bean>

<!-- Spring JDBC설정 -->
<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	<property name="dataSource" ref="dataSource"/>
</bean>


</beans>
