<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">

	<insert id="insertBoard">
		INSERT INTO BOARD(TITLE, WRITER, CONTENT, FILENAME)
		VALUES(#{title},
		#{content},#{filename})
	</insert>
	<update id="updateBoard">
		<!-- update board set title=?, writer=?, content=?, where seq=? -->
		update board set title = #{title}, writer = #{writer}, content =
		#{content} where seq = #{seq}

	</update>

	<delete id="deleteBoard">
		Delete from board where seq = #{seq}

	</delete>

	<select id="getBoard" resultType="board">
		select * from board where seq =
		#{seq}

	</select>

	<select id="getBoardList" resultType="board">
		select * from board where 1=1

		<if test="searchCondition == 'TITLE' "> and title like concat('%', #{searchKeyword}, '%')</if>
		<if test="searchCondition == 'CONTENT' "> and content like concat('%', #{searchKeyword}, '%')</if>
		order by seq desc
	</select>


</mapper>
